<ul class="navbar-nav text-uppercase ml-auto">
    @if (ViewData["Title"].Equals("Home Page"))
    {
        if (!this.User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href='#about'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href='#contact'>Contact</a>
            </li>
        }
        <partial name="_CategoryPartial" />
    }
</ul>
