<ul class="navbar-nav text-uppercase ml-auto">
    @if (this.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Images" asp-action="Create">Create</a>
        </li>
    }
    else if (ViewData["Title"].Equals("Home Page"))
    {
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href='#about'>About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href='#contact'>Contact</a>
        </li>
    }
</ul>